//
// Imports
//

@import "normalize";


//
// Variables
//

$white: #fff;
$gray: #666;
$black: #000;
$page-padding: 40px;


//
// Base styles
//

html,
body {
  height: 100%;
  position: relative;
  font-size: 10px;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (max-width: 800px) {
    height: auto;
    font-size: 8px;
  }
}

body {
  background-color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 800px) {
    padding: 40px 24px 24px;
  }
}

a:not(.button) {
  color: rgba($white, 0.3);
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 250ms ease-in-out;

  &:active {
    top: 1px;
  }

  &:visited {
    color: $white;
  }

  &:after {
    width: 100%;
    background-color: $gray;
    height: 1px;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(24px);
    transition: all 150ms ease-in-out;
  }

  &:hover {
    color: $white;

    &:after {
      background-color: $white;
      opacity: 1;
      transform: translateY(3px);
    }
  }
}

p {
  color: $white;
  text-shadow: 0 1px 0 rgba($black, 0.1);
  text-transform: lowercase;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

h2 {
  color: $white;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 0;
}

button,
.button {
  border-color: $white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: 500;
  height: 56px;
  line-height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  transition: all 150ms ease-in-out;

  &:hover {
    border-color: $gray;
  }

  &:visited {
    color: $white;
  }
}

//
// Bands in town widget
//

.bands-in-town {
  background: $white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba($black, 0.5);
}

//
// Centered content (island)
//

.island {
  display: none;
  margin: 0 auto;
  max-width: 660px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 11;

  &__button {
    background-color: rgba($white, 0.1);
    box-shadow: 0 10px 20px rgba($black, 0.5), inset 0 -1px 1px rgba($black, 0.7), inset 0 1px 1px rgba($white, 0.1);
    color: $white !important; // im sorry
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    margin-top: 32px;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media (max-width: 800px) {
      margin-top: 16px;
    }

    &:hover {
      background-color: rgba($white, 0.2);

      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 800px) {
    transform: translateY(0);
    position: relative;
    top: auto;
    margin-bottom: 32px;
  }
}


//
// Responsive iframes
//

.responsive-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 35px;
  position: relative;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


//
// Band photograph
//

.band-photograph {
  background-image: image-url("background.jpg");
  background-position: center center;
  background-size: cover;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}


//
// Social links
//

.social {
  bottom: $page-padding;
  color: $white;
  display: none;
  left: $page-padding;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 11;

  @media (max-width: 800px) {
    position: relative;
    left: auto;
    bottom: auto;
    margin-bottom: 32px;
  }

  &__item {
    display: inline-block;
    margin-right: 16px;

    @media (max-width: 800px) {
      display: block;
      margin-bottom: 16px;
      margin-right: 0;
    }

    &--is-text {
      color: $white;

      &:after {
        background-color: $gray;
        content: '';
        margin-left: 10px;
        width: 20px;
        height: 1px;
        display: inline-block;
        top: -3px;
        position: relative;

        @media (max-width: 800px) {
          display: none;
        }
      }
    }
  }
}


//
// Wordmark
//

.wordmark {
  background-image: image-url("wordmark.png");
  background-size: cover;
  display: none;
  height: 56px;
  left: $page-padding;
  position: absolute;
  text-indent: -9999px;
  top: $page-padding;
  width: 167px;
  z-index: 11;

  @media (max-width: 800px) {
    position: relative;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    top: auto;
  }
}

//
// Listen link
//
.listen-link {
  display: block;
  display: none;
  position: absolute;
  right: $page-padding;
  top: $page-padding;
  z-index: 11;

  a,
  a:visited {
    color: #24CF5F;
    border-color: #24CF5F;

    &:hover {
      color: darken(#24CF5F, 10%);
      border-color: darken(#24CF5F, 10%);
    }
  }

  @media (max-width: 800px) {
    position: relative;
    margin: 0 auto;
    right: auto;
    top: auto;
    margin-bottom: 32px;
  }
}


//
// Subscribe
//

.subscribe {
  bottom: $page-padding;
  display: none;
  position: absolute;
  right: $page-padding;
  z-index: 11;

  @media (max-width: 800px) {
    position: relative;
    bottom: auto;
    right: auto;
  }

  a {
    color: $white;
  }
}
