---
title: Tysson
---

<div class="island island--is-on-homepage">
  <h2 id="bio"> Biography</h2>
  <p>Bacon ipsum dolor amet pork belly turkey strip steak tail hamburger brisket. Andouille tail capicola shank ground round chuck kielbasa tri-tip. Pig tenderloin sirloin, pork belly jerky shankle corned beef swine tri-tip frankfurter cow beef salami chicken. Cupim chicken brisket, jowl ham hock doner landjaeger shankle strip steak shank. Flank tail leberkas, pastrami fatback tenderloin doner hamburger.</p>

  <p>Bacon ipsum dolor amet pork belly turkey strip steak tail hamburger brisket. Andouille tail capicola shank ground round chuck kielbasa tri-tip. Pig tenderloin sirloin, pork belly jerky shankle corned beef swine tri-tip frankfurter cow beef salami chicken. Cupim chicken brisket, jowl ham hock doner landjaeger shankle strip steak shank. Flank tail leberkas, pastrami fatback tenderloin doner hamburger.</p>


  <h2 id="tour">Tour dates</h2>
  <div class="bands-in-town">
    <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Tysson" class="bit-widget-initializer" data-artist="Tysson" data-prefix="fbjs">Tysson Tour Dates</a>
  </div>
</div>

