---
title: Tysson
---

<div class="island">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/IvxMAR8bE1s" frameborder="0" allowfullscreen></iframe>
</div>

<ul class="social">
  <li class="social__item social__item--is-text">New music coming soon</li>
  <li class="social__item">
    <a href="https://facebook.com/tysson">Facebook</a>
  </li>
  <li class="social__item">
    <a href="http://www.twitter.com/tyssonband">Twitter</a>
  </li>
  <li class="social__item">
    <a href="https://soundcloud.com/tyssonband">Soundcloud</a>
  </li>
  <li class="social__item">
    <a href="https://www.instagram.com/tyssonband/">Instagram</a>
  </li>
</ul>

<div class="subscribe">
  <a href="http://eepurl.com/SmRM9">Subscribe</a>
</div>
