---
title: Tysson
---

<div class="island">
  <div class="responsive-iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IvxMAR8bE1s" frameborder="0" allowfullscreen></iframe>
  </div>
  <%= link_to 'Enter site', '/home', :class => 'island__button' %>
</div>
